<!DOCTYPE html>
<html>
<head>
  <title>Covid-19 Prediction Model</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Covid-19 Prediction</h1>
  <div class="container">
    <form action="/predict" method="post">
      <div class="input-group">
        <label for="location">Enter location:</label>
        <input type="number" name="location" placeholder="location" required="required" />
      </div>
      <div class="input-group">
        <label for="total_cases">Enter total_cases:</label>
        <input type="number" name="total_cases" placeholder="total_cases" required="required" />
      </div>
      <div class="input-group">
        <label for="total_deaths">Enter total_deaths:</label>
        <input type="number" name="total_deaths" placeholder="total_deaths" required="required" />
      </div>
    
      <div class="input-group">
        <label for="weekly_cases">Enter weekly_cases:</label>
        <input type="number" name="weekly_cases" placeholder="weekly_cases" required="required" />
      </div>
    
      <div class="input-group">
        <label for="weekly_deaths">Enter weekly_deaths:</label>
        <input type="number" name="weekly_deaths" placeholder="weekly_deaths" required="required" />
      </div>
    
      <div class="input-group">
        <label for="biweekly_cases">Enter biweekly_cases:</label>
        <input type="number" name="biweekly_cases" placeholder="biweekly_cases" required="required" />
      </div>
    
      <div class="input-group">
        <label for="biweekly_deaths">Enter biweekly_deaths:</label>
        <input type="number" name="biweekly_deaths" placeholder="biweekly_deaths" required="required" />
      </div>
    
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
  </div>
  <br>
  <br>

{{prediction_text}}

</body>
</html>    
